body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: rgba(151,151,151,0.03);
    font-family: sans-serif;
}
*{
    text-transform: capitalize;
    box-sizing: border-box;
}
.cs-hidden{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo h1{
    height: 31px;
    color: blue;
    font-family: sans-serif;
}
.logo h1 span{
    height: 31px;
    font-family: sans-serif; 
    text-transform: uppercase;
    color: black;
}
nav .menu{
    display: flex;
}
nav .menu li a {
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
    transition: 0.4s ;
}
.search {
    width: 250px;
    height: 40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i{
    color: #3a3a3a;
}
nav .menu li a:hover{
    background-color: #242424;
    color: #fff;
    box-shadow: 5px 10px 15px rgba(53, 53,53, 0.1);
    transition: all ease 0.2s linear;
}
#main{
    padding-top: 80px;
    background-color: #ffffff;
}
.showcase-box{
    width: 430px;
    height: 250px;
    box-shadow: 20px 19px 30px 3px rgb(0, 0, 0 , 44%);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
    transition: 0.2s linear;
    cursor: pointer;
}
.showcase-box:hover{
    transform: translateY(-15px);
    box-shadow: 0px 0px 30px 13px  rgb(0, 0, 0 , 44%);
}
.showcase-box img{
    width: 100%;
  height: 100%;  
  object-fit: cover;
  object-position: top;
}
.showcase-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
    
}
.cs-hidden{
    overflow: hidden;
}
.showcase-box{
    overflow: hidden;
}
#latest{
    border-top: 1px solid rgba(53, 53,53, 0.1);   
}
.lateast-heading{
    text-transform: uppercase;
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.latest-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background: #fff;
    transition: 0.2s linear;
    cursor: pointer;

}
.latest-box:hover{
    transform: translateY(-15px);
    box-shadow: 1px 2px 30px red;
}
.latest-b-img{
width: 100%;
height: 270px;
}
.latest-b-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.latest-b-text strong {
    color: #3a3a3a;
    margin: 0px;
}
.latest-b-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.latest-b-text p{
    color: #979797;
    margin: 0;
     
}
.movies-heading h2{
    font-weight: 400;
    margin: 0;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;

}
.movies-heading{
    display: flex;
    margin: 0 2%;
}
.movis-box{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;
    transition: 0.2s linear;

}
.movis-box:hover{
    transform: translateY(-15px);
    box-shadow: 1px 1px 30px aqua;
    box-sizing: border-box;
}
.movis-img{
    width: 100%;
    height: 400px;
    position: relative;
}
.movis-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.movis-box a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: --webkit-box;
    max-width: 80%;
    --webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: #3a3a3a;
    margin: 20px;

}
.movis-box:hover{
    transform: translateY(-15px);
}
#movis-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quatury{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #1f1f1f;
    color: #fff;
    padding: 4px 15px;
    font-weight: 500;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 1px 1px 30px red;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns a{
   width: 130px;
   height: 40px;
   border: none; 
   outline: none;
   color: #fff;
   background: blue;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   transition: 0.2s linear;
}
.btns a:hover{
    background: #25258b;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.01); 
}
footer p{
    color: #5e5e5e;
    margin: 10px 0;
    font-size: 0.9rem;
}
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;background: #fff;
        border-radius: 4px solid #242424;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .menu li {
        width: 100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);

    }
    nav .menu .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px ;
        user-select: none;
        display: block;

    }
    nav .menu-icon .nav-icon{
        background: #000;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon::before,
    nav .menu-icon .nav-icon::after{
        background: #000;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon::before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;

    }nav .menu-btn:checked ~ .menu{
        display: block;
        transition: 0.2s linear;
    }


}
/* ================*/
@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width: 190px;
        margin: 20px 5px;
    }
    .movis-box{
        flex-direction: row;
        width: 90%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu-btn a{
        width: 65%;
    }
    footer{
        justify-content: space-between;
        padding: 0 20px;
        text-align: center;
    }
}
@media(max-width:440px){
    .movis-box a, .movis-box{
        width: 100%;
    } 
    .movis-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
}